/*Part1*/

/* latin */

@font-face {
    font-family  : "Poppins";
    font-style   : normal;
    font-weight  : 700;
    font-display : swap;
    src          : url(../fichier/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Part2*/
* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    position        : sticky;
    top             : 0px;
    background-color: white;
    box-shadow      : 5px 5px 8px #cccccc;
    width           : 100%;
    z-index         : 1000;
    font-family     : 'Poppins', sans-serif;
}


.container1,
a {
    text-decoration: none;

}

.container1 {
    max-width: 85rem;
    padding  : 0 2rem;
    margin   : 0 auto;
    display  : flex;
    position : relative;
    height: 128px;
}

.logo-container {
    flex       : 1;
    display    : flex;
    align-items: center;
}

.nav-btn1 {
    flex     : 13;
    /*display: flex;*/
}

.nav-links {
    margin-top: 2.75%;
    flex      : 2;
}

.log-sign {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex           : 1;
}


.btn1,
.btn1.transparent:hover {
    background-color:
        black;
    border-radius: 27px !important;
    border       : 3px solid #9BBE3D;
    color        : #fff !important;
    margin-left  : 10px;
}

.btn1:hover {
    background-color: #9BBE3D !important;
    color           : #001b5b !important;
    border          : 3px solid #001b5b;
}

.nav-links>ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.nav-link {
    position    : relative;
    margin-right: 5px;
}

.nav-link>a {
    line-height    : 3rem;
    color          : #000;
    padding        : 0 .5rem;
    letter-spacing : 0px;
    font-size      : 15px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    transition     : .5s;
    text-decoration: none;

}

.nav-link>a>i {
    margin-left: .2rem;
}

.nav-link:hover>a {
    transform            : scale(1.1);
    background           : #4abdeb;
    border-radius        : 30px;
    color                : #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius   : 30px;
    -ms-border-radius    : 30px;
    -o-border-radius     : 30px;
}

.dropdown {
    position      : absolute;
    top           : 100%;
    left          : 0;
    width         : 27rem;
    transform     : translateY(10px);
    opacity       : 0;
    pointer-events: none;
    transition    : .5s;
    display       : -webkit-box;
}

#dropdown_nav {
    background-color: transparent;
    color           : #fff;
    width           : auto;

}

.dropdown ul {
    position: relative;
}

.dropdown-link>a {
    display         : flex;
    background-color: transparent;
    color           : #3498db;
    padding         : 0.5rem 4rem;
    font-size       : 14px;
    font-weight     : bold;
    align-items     : center;
    transition      : .3s;
    width           : max-content;

}

#dropdown_menu {

    position : absolute;
    inset    : 0px auto auto 35px;
    margin   : 0px;
    transform: translate(68.8889px, 0px);
}

.dropdown-link:hover>a {
    background-color: #3498db;
    color           : #fff;

}

#side_option {
    background-color: transparent;
    color           : #fff;
    border          : none;
}

#side_option1 {
    background-color: #39c0ed;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom   : none;
    list-style      : none;
    inline-size     : unset;
    width           : revert;
    background-color: #fff;
}

/* #ul_navbar ,ul{
/* list-style: none; */
* #li_hide {
    list-style      : none;
    background-color: #fff;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position        : absolute;
    width           : 11px;
    height          : 11px;
    top             : -5.5px;
    left            : 32px;
    background-color: #fff;
    transform       : rotate(45deg);
    cursor          : pointer;
    transition      : .3s;
    z-index         : -1;
}

.dropdown-link:first-child:hover~.arrow {
    background-color: #3498db;
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top         : 0;
    left        : 100%;
    padding-left: .8rem;
    cursor      : pointer;
    transform   : translateX(10px);
}

.dropdown.second .arrow {
    top : 10px;
    left: -5.5px;
}

.nav-link:hover>.dropdown,
.dropdown-link:hover>.dropdown {
    transform     : translate(0, 0);
    opacity       : 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex           : 1;
    display        : none;
    align-items    : center;
    justify-content: flex-end;
}

.hamburger-menu {
    width           : 2.5rem;
    height          : 2.5rem;
    display         : flex;
    align-items     : center;
    justify-content : flex-end;
    background-color: #4F6FCE;
    padding-right   : 7px;
    border-radius   : 7px;
}

.hamburger-menu div {
    width           : 1.6rem;
    height          : 3px;
    border-radius   : 3px;
    background-color: #fff;
    position        : relative;
    z-index         : 1001;
    transition      : .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content         : '';
    position        : absolute;
    width           : inherit;
    height          : inherit;
    background-color: #fff;
    border-radius   : 3px;
    transition      : .5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position : absolute;
    top      : 50%;
    right    : 1.5rem;
    transform: translateY(-50%);
    width    : 2.5rem;
    height   : 2.5rem;
    z-index  : 90000;
    cursor   : pointer;
    opacity  : 0;
    display  : none;
}

#check:checked~.hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked~.hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked~.hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity  : 0;
        transform: translateY(15px);
    }

    to {
        opacity  : 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1280px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn1 {
        position        : fixed;
        height          : calc(100vh - 3rem);
        top             : 8rem;
        left            : 0;
        width           : 100%;
        background-color: #66c2e5;
        flex-direction  : column;
        align-items     : center;
        justify-content : space-between;
        overflow-x      : hidden;
        overflow-y      : auto;
        transform       : translateX(100%);
        transition      : .65s;
    }

    #check:checked~.nav-btn1 {
        transform: translateX(0);
    }

    #check:checked~.nav-btn1 .nav-link,
    #check:checked~.nav-btn1 .log-sign {
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links {
        flex : initial;
        width: 100%;
    }

    .nav-links>ul {
        flex-direction: column;
    }

    .nav-link {
        width    : 100%;
        opacity  : 0;
        transform: translateY(15px);
    }

    .nav-link>a {
        line-height: 1;
        padding    : 1.6rem 2rem;
    }

    .nav-link:hover>a {
        transform          : scale(1);
        /* background-color: #001b5b; */
    }

    .dropdown,
    .dropdown.second {
        position        : initial;
        top             : initial;
        left            : initial;
        transform       : initial;
        opacity         : 1;
        pointer-events  : auto;
        width           : 100%;
        padding         : 0;
        background-color: #4abdeb;
        display         : none;
    }

    .nav-link:hover>.dropdown,
    .dropdown-link:hover>.dropdown {
        display: block;
    }

    .nav-link:hover>a>i,
    .dropdown-link:hover>a>i {
        transform: rotate(360deg);
    }

    .dropdown-link>a {
        background-color: transparent;
        color           : #3498db;
        padding         : 1.2em 0.1rem;
        line-height     : 1;
        font-size       : 12px;
    }

    .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link>a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .arrow {
        z-index         : 1;
        background-color: #69bde7;
        left            : 0%;
        transform       : scale(1.1) rotate(45deg);
        transition      : .5s;
    }

    .nav-link:hover .arrow {
        background-color: #50a9d6;
    }

    .dropdown .dropdown .arrow {
        display: none;
    }

    .dropdown-link:hover>a {
        background-color: #3a91bd;
        inline-size     : auto;
    }

    .dropdown-link:first-child:hover~.arrow {
        background-color: #50a9d6;
    }

    .nav-link>a>i {
        font-size : 1.1rem;
        transform : rotate(-90deg);
        transition: .7s;
    }

    .dropdown i {
        font-size : 1rem;
        transition: .7s;
    }

    .log-sign {
        flex           : initial;
        width          : 100%;
        padding        : 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity        : 0;
        transform      : translateY(15px);
    }

}

#navigatio1n {
    width             : 100%;
    height            : 130px;
    padding           : 0px 10px;
    margin            : auto;
    display           : -ms-flexbox;
    /*display         : -webkit-box;
  display             : flex;*/
    -webkit-box-pack  : justify;
    -ms-flex-pack     : justify;
    justify-content   : space-between;
    position          : fixed;
    top               : 30;
    z-index           : 5;
    background-color  : white;
    -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow        : rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#navigatio1n ul {
    list-style: none;
}

#stimgicon {
    margin-right: 155px;
    margin-top  : 10px;
    height      : 110px;
    width       : 110px;
}

#text_left {
    padding-left        : 0.6em;
    min-inline-size     : -webkit-fill-available;
    text-decoration-line: none;

}